NETWORK_NAME=UCSB-IZC00012194 
PRESTON_NETWORK_SEED="https://library.big-bee.net/portal/content/dwca/UCSB-IZC_DwC-A.zip"
NETWORK_LONGNAME="Xylocopa sonorina - UCSB-IZC00012194 - Bee Library - 73e389aa-5886-4c48-8778-ba8932d1bd7e"
NETWORK_DESCRIPTION="${NETWORK_NAME} provides an animated GIF, and wavefront 3D object model, of bee specimen Xylocopa sonorina UCSB-IZC00012194 University of Santa Barbara Invertebrate Zoology Collection as well as the original digital data/image files that were used to find and build this animated GIF and associated 3D model."
PRESTON_REMOTE_URL=https://zenodo.org/record/7113719/files

