NETWORK_NAME=UCSB-IZC0001219 
PRESTON_NETWORK_SEED="https://library.big-bee.net/portal/content/dwca/UCSB-IZC_DwC-A.zip"
NETWORK_LONGNAME="UCSB-IZC0001219 - Bee Library - 73e389aa-5886-4c48-8778-ba8932d1bd7e"
NETWORK_DESCRIPTION="${NETWORK_NAME} provides an animated GIF of bee specimen UCSB-IZC0001219 University of Santa Barbara Invertebrate Zoology Collection as well as the original digital data/image files that were used to find and build this animated GIF."
PRESTON_REMOTE_URL=https://zenodo.org/record/7113719/files

